/* 
    STYLESHEET FOR LARGER DEVICES
    -----------------------------
*/

.Main {
    display:grid;
    grid-template-columns:2fr 4fr 4fr 2fr;
    grid-template-rows: 2fr 4fr 4fr 2fr;
    grid-gap: 10px;
    background:linear-gradient(to right , red , orange);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    height: 100vh;
}

.title {
    display:grid;
    grid-column:2/3;
    grid-row: 2/4;
}

.form {
    display:grid;
    grid-column:3/4;
    grid-row: 2/4;
}

.description {
    display: grid;
    grid-column:3/4;
    grid-row:3/4; 
}

/* 
    STYLESHEET FOR SMALLER DEVICES
    -----------------------------   
*/

@media only screen and (max-width:750px) {

.Main {
    display:grid;
    grid-template-columns:1fr 6fr 6fr 1fr;
    grid-template-rows: 1fr 8fr 6fr 8fr 1fr;
}

.title {
    display:grid;
    grid-column:2/4;
    grid-row: 2/3;
}

.form {
    display:grid;
    grid-column:2/4;
    grid-row: 3/4;
}

.description {
    display: grid;
    grid-column:2/4;
    grid-row: 4/5; 
}

}


